.container{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    height: 100vh;
    background-color: aqua;

}
.left{
    background-color: blue;
}
.middle{
    background-color: red;
}
.right{
    background-color: green;
}
.gridsubcontainer{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    grid-template-areas: 
    "a a"
    "b c";
    gap: 20px;
    padding: 20px;

}
.content1{
    grid-area: a;
    background-color: gray;
}
.content2{
    grid-area: b;
    background-color: gray;
}
.content3{
    grid-area: c;
    background-color: gray;
}
.primary{
    display: flex;
    justify-content: space-between;
    border: solid rgb(42, 165, 73) 1px;
}
.big{
    width: 200px;
    height: 70px;
    padding: 10px;
    background-color: purple;
}
.small{
    height: 70px;
    width: 70px;
    background-color: aquamarine;
    padding: 10px;

}