.card {
  width: 100%;
  max-width: 400px;
  background-image: linear-gradient(gray, white);
  border: 1px solid #c2baba;
  border-radius: 20px;
  margin: 0 auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card-header {
  display: grid;
  grid-template-columns: 50px 1fr 50px;
  grid-template-rows: repeat(2, 30px);
  grid-template-areas:
    "pic user dots"
    "pic date dots";
}

.username {
  grid-area: user;
  font-size: large;
  justify-self: start;
  margin-left: 20px;
  margin-top: 5px;
}

.date {
  grid-area: date;
  align-self: end;
  color: rgba(255, 255, 255, 0.655);
  font-size: medium;
  margin-left: 20px;
  margin-bottom: 10px;
}

.label {
  font-weight: bold;
}

.profile-pic {
  grid-area: pic;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  padding: 10%;
}

.more {
  grid-area: dots;
  align-self: center;
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 30px;
}

.post-img {
  width: 100%;
  height: 321.33px;
  max-height: 400px;
  object-fit: cover;
}

.card-body {
  padding: 12px;
}

.like {
  width: 25px;
  height: 25px;
}

.coment {
  width: 25px;
}

.like,
.coment {
  display: inline;
  margin: 5px;
}

.like,
.coment:hover,
.label,
.profile-pic,
.username,
.more {
  cursor: pointer;

}

.caption {
  margin-top: 8px;
}

.container {
  display: flex;
  gap: 50px;
  justify-content: center;
  padding: 2rem;
}

@media(max-width: 375px) {
  .container {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr; 
    gap: 16px;
    height: 100vh; 
  }
  
    
  }
@media(min-width:376px) and (  max-width:768px) {
  .container {
      display: grid;
      grid-template-columns: 1fr 1fr; 
      gap: 20px;
    }
 }
